.body{
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
}
.main-div{
    width: 100vw;
    height: 100vh;
}
.second-div{
    padding-top: 72px;
    padding-bottom: 147px;
}
.third-div{
    margin: 0 auto;
    padding: 20px 0;
    width: 980px;
    position: relative;
}
.fourth-div{
    box-sizing: border-box;
    margin-right: 0;
    padding-right: 32px;
    width: 580px;
    vertical-align: top;
    display: inline-block;
}
.fifth-div{
    padding: 112px 0 16px;
}
.facebook-logo{
    height: 106px;
    margin: -28px;
}
.text{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
    padding: 0 0 20px;
    margin: 0;
}
.container-form{
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 16px 0 28px;
    width: 396px;
}
.e-mail{
    width: 323px;
    height: 23px;
    margin-left: 20px;
    font-family: Helvetica, Arial, sans-serif;
    border: 1px solid #dddfe2;
    color: #1d2129;
    vertical-align: middle;
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
}
.e-mail::placeholder{
    color: #80878D;
}
.e-mail:focus::placeholder{
    color: #BBC5CE;
}
.e-mail:focus{
    outline: none;
    border: 1px solid #0174D4;
    box-shadow: 0px 0px 2px 2px rgba(0,152,222,0.20);
}
.e-mail:hover{
    cursor: text;
}
.password{
    width: 323px;
    height: 23px;
    margin-left: 20px;
    font-family: Helvetica, Arial, sans-serif;
    border: 1px solid #dddfe2;
    vertical-align: middle;
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
}
.password::placeholder{
    color: #80878D;
}
.password:focus::placeholder{
    color: #BBC5CE;
}
.password:hover{
    cursor: text;
}
.div-password{
    margin-top: 12px;
}
.password:focus{
    outline: none;
    border: 1px solid #0174D4;
        box-shadow: 0px 0px 2px 2px rgba(0,152,222,0.20);
}
.btn-login{
    margin-top: 16px;
    width: 357px;
    height: 47px;
    margin-left: 20px;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}
.btn-login:hover{
    background-color: #086FF6;
}
.div-link{
    display: flex;
    justify-content: center;
}
.link-password{
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    font-family: Helvetica, Arial, sans-serif;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}
.link-password:hover{
    text-decoration: underline;
}
.div-line{
    border-top: 1px solid #D1D9E3;
    margin-left: 18px;
    margin-right: 18px;
}
.div-new-account{
    display: flex;
    justify-content: center;
}
.btn-newAccount{
    margin-top: 28px;
    width: 189px;
    height: 50px;
    border: none;
    border-radius: 6px;
    background-color: #44B606;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: bolder;
    cursor: pointer;
}
.btn-newAccount:hover{
    transition: 0.3s;
    background-color: #3A9B06;
}
.div-newWebPage{
    display: flex;
    justify-content: flex-end;
}
.new-page-text{
    margin-top: 30px;
    font-size: 14px;
}
.new-page-textb{
    font-size: 14px;
    text-decoration: none;
    color: black;
}
.new-page-textb:hover{
    text-decoration: underline;
}
.container-footer{
    background-color: white;
    padding-top: 15px;
}
.div-footer{
    justify-content: center;
    margin-left: 315px;
}
.languages li{
    list-style: none;
    display: inline-block;
    padding: 4px;
    color: #8a8d91;
    cursor: pointer;
    font-size: 12px;
}
.languages{
    margin-bottom: 2px;
    margin-top: 3px;
}
.languages li:hover{
    text-decoration: underline;
}
.add-language{
    background-color: #EDF1EA;
    border: 1px solid #B7BEB3;
    width: 30px;
    height: 23px;
    font-size: 13px;
    font-weight: 900;
    color: #8a8d91;
    cursor: pointer;
}
.line-footer{
    border-bottom:  0.1px solid #dddfe2;
    margin-right: 400px;
    margin-left: 358px;
    margin-bottom: 10px;
}
.div-firstLine{
    background-color: white;
    margin-left: 315px;
}
.inferior-list li{
    display: inline-block;
    padding-right: 15px;
    font-family: Helvetica, Arial, sans-serif;
    color: #8a8d91;
    cursor: pointer;
    font-size: 12px;
}
.inferior-list li:hover{
    text-decoration: underline;
}
.inferior-list{
    margin-top: 5px;
    margin-bottom: 5px;
}
.inferior-list2{
    margin-top: 5px;
    margin-bottom: 5px;
}
.inferior-list3{
    margin-top: 5px;
    margin-bottom: 5px;
}
.div-secondLine{
    background-color: white;
    margin-left: 315px;
}
.inferior-list2 li{
    display: inline-block;
    padding-right: 15px;
    font-family: Helvetica, Arial, sans-serif;
    color: #8a8d91;
    cursor: pointer;
    font-size: 12px;
}
.inferior-list2 li:hover{
    text-decoration: underline;
}
.div-thirdLine{
    background-color: white;
    margin-left: 315px;
}
.inferior-list3 li{
    display: inline-block;
    padding-right: 15px;
    font-family: Helvetica, Arial, sans-serif;
    color: #8a8d91;
    cursor: pointer;
    font-size: 12px;
}
.inferior-list3 li:hover{
    text-decoration: underline;
}
.meta{
    margin-top: 25px;
    margin-left: 355px;
}
.meta-text{
    color: #8a8d91;
    cursor: text;
    font-size: 11px;
}
.final-space{
    height: 5px;
}